.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  text-align: left;
}

main {
  flex: 1;
}

.Viewer {
  width: 100%;
}
.Viewer-title {
  color: white;
  margin-top: 5px;
}
.Viewer-input {
  width: 90%;
  height: 33vh;
  min-height: 100px;
  margin: 0 5%;
}

footer {
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
